.DS_Store
*~
*.hex
*.bak
GPATH
GRTAGS
GTAGS
tags
doxygen/
*.zip

*.cywrk.*
*.cyprj.*
**/*.cydsn/codegentemp/
**/*.cydsn/CortexM3/
**/*.cydsn/Generated_Source/
**/*.cydsn/Export/
*.cyfit
*_timing.html
*.cycdx
*.rpt